:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background: url('https://raw.githubusercontent.com/tauri-apps/tauri/master/assets/tauri.png') no-repeat center center fixed;
  background-color: #181818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.container {
  margin: 0;
  padding-top: 10vh;
  padding: 5vh 4vh 0vh 4vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #24c8db;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid rgba(252,252,252,0.1);
  padding: 0.8em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  transition: border-color 0.25s;
}

input {
  background: #111;
  /* border: 1px solid ; */
}

button {
  cursor: pointer;
  margin-bottom: 0.5em;
  background: #252525;
  border: 1px solid rgba(252,252,252,0.1);
}

.outline-btn {
  cursor: pointer;
  margin-bottom: 0.5em;
  background: transparent;
  /* border: 1px solid #5b5b5b; */
  border: 0px;
}

.outline-btn:hover {
  background: #292f36;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  border-color: #396cd8;
  background-color: #0f0f0f69;
}

input,
button {
  outline: none;
}

.tabs {
  display: flex;
  background: #000;
  padding: 0.2em;
  margin: 0;
  border-bottom: 1px solid #272d36;
}

.tab {
  padding: 8px 20px;
  margin: 5px 0 5px 5px;
  border-radius: 0.5em;
  color: #959595;
  cursor: pointer;
}

.tab:hover {
  color: #ffffff;
  background: #1b1b1b;
}

.activetab {
  color: #ffffff;
  border-bottom: 2px solid #f65050;
  border-radius: 0.5em 0.5em 0 0;
}

.uninstall {
  color: #fd9b9d;
}

.install {
  color: #2ea043;
}

.update {
  color: #659cf0;
}

.btn-left {
  border-radius: 10px 0 0 10px;
}

.btn-right {
  border-radius: 0 10px 10px 0;
}

.form-checkbox { 
  padding-left: 30px;
  margin-bottom: 20px; 
  text-align: left;
}

input[type="checkbox"]  { 
  float: left; 
  margin: 3px 0 0 -27px;
  padding: 0px;
  width: 22px;
  height: 22px;

  appearance: none;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  border-radius: 2px;
  width: 0.75em;
  height: 0.75em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #cfcfcf;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.generic-input {
  box-sizing: border-box;
  color: #a2a2a2;
  text-align: center;
  margin-bottom: 0.8em;
}

.form-checkbox > label {
  margin-left: 5px;
  color: #cfcfcf;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.form-checkbox > .note { 
  margin-top: 0; 
  margin-left: 6px;
  font-size: 0.9em;
  color: #a2a2a2;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
